server:
  port: 8080

spring:
  application:
    name: log-analyzer-api

  profiles:
    active: local

springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    tags-sorter: alpha
    operations-sorter: alpha
  default-consumes-media-type: application/json
  default-produces-media-type: application/json

---
spring.config.activate.on-profile: local

---
spring.config.activate.on-profile: dev